.DS_Store
*.pbxuser
*.mode2v3
*.mode1v3
*.perspectivev*
build
*.xccheckout
*.xcscmblueprint
*.gcno
xcuserdata
Resources/Conf.plist
Resources/en.lproj
!Resources/en.lproj/InfoPlist.strings
Resources/Pods-acknowledgements.plist
Resources/iOS-strings.zip
.idea
Pods
DerivedData
fastlane/report.xml
